{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "components": "./src/components",
	"modules":"./src/modules",
	"config":"./src/config",
	"services": "./src/services",
	"styles":"./src/styles",
	"utils": "./src/utils"
      }
    }]
  ]
}
